/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
public/pdf/
public/uploads/2/rek_koran.jpg
public/uploads/2/id_card.jpg
public/uploads/2/foto.jpg
